body{
  font-family: "\5FAE\8F6F\96C5\9ED1","Tahoma"," Arial"," Helvetica", "sans-serif";
}
#wrapper{
  /*position: absolute;*/
  width: 100%;
  height: 100vh;
  background: url(http://fabuhui.oss-cn-shanghai.aliyuncs.com/img/bg.jpg) no-repeat top left;
  background-size: 100% 100%;
}
.page{
  width:100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}
#words-canvas{
  position: absolute;
  left:0;
  
}
#first-outer{
  opacity: 0;
  border:1.5px #656467 dotted;
  top:50%;
  left:50%;
}
#first-inner{
  opacity: 0;
  border:2.5px #9e979e dotted;
  top:50%;
  left:50%;
}
.text-block{
  position: absolute;
  left:50%;
  display: flex;
  justify-content: space-around;
}
#question{
  opacity: 0;
  color:#fff;
  font-size:1.5em;
  width:80%;
  margin-left:-40%;
  top:60%;
  border: 1px solid transparent;
}
#whenwhere{
  opacity: 0;
  color:#24d3ff;
  font-size:1.5em;
  width:60%;
  margin-left:-30%;
  top:70%;
}
#answer{
  opacity: 0;
  color:#24d3ff;
  top:80%;
  font-size: 1.5em;
  width:40%;
  margin-left:-20%;
}
.circle{
  opacity: 0;
  border-radius:50%;
  position: absolute;
  left:50%;
}
#outer-circle{
  border:2.5px #515153 dotted;
  top:20%;
}
#inner-circle{  
  border:2.5px #a3a1a9 dotted;
  top:20%;
  left:50%;
}
#logo{
  width: 38%;
  height: 44%;
  /*width: 807px;
  height: 48%;*/
  top:50%;
  left:50%;
  margin-left:-20%;
  margin-top:-22%;
  /*margin-left: -175%;
  margin-top: -24%;*/
  position: absolute;
  background: url(http://fabuhui.oss-cn-shanghai.aliyuncs.com/img/logo.png) no-repeat;
  background-size:cover;
}
.txt-green{
  color:#24d3ff;
}
#subject{
  opacity: 0;
  font-size:1.5em;
  color:#fff;
  position: absolute;
  top:52%;
  left:50%;
  width:90%;
  margin-left: -45%;
  text-align: center;
  text-shadow: -3px -3px 7px #000;
  -moz-text-shadow: -3px -3px 7px #000;
  -webkit-text-shadow: -3px -3px 7px #000;
}
#btn{
  opacity: 0;
  position: absolute;
  top:80%;
  left:50%;
  width:50%;
  margin-left: -25%;
  
}
#btn button{
  border: 1px solid #fff;
  background-color: rgba(5,3,4,0.35);
  width:6.5em;
  height: 2.2em;
  color:#fff;
  font-size: 1.5em;
}
#outter{
  position: relative;
  z-index:1999;
  width: 100%;
  height: 100%;
}
#sound-btn{
  display: none;
  width:50px;
  height: 50px;
  float: right;
  margin: 0;
  /*background: url('http://fabuhui.oss-cn-shanghai.aliyuncs.com/img/icon_sound.png');
  background-size:50px 50px;*/
}

#outter > div{
  position: absolute;
  left:50%;  
}
#start{
  margin-left: -50px;
  width:100px;
  top:70%;
  margin-top: -25px;
  color:#fff;
  font-size: 32px;
  text-align: center;
  display: none;
}
#click{
  display: none;
  width:100px;
  margin-top:-50px;
  margin-left: -50px;
  height:100px;
  top:70%;
  background-color: #999;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

.clear-loading {
  top:50%;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}
.loading-effect-1 {
  width: 100px;
  height: 100px;
}
.loading-effect-1 span {
  display: block;
  -webit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading-effect-1 span:first-child {
  width: 100%;
  height: 100%;
  border-color: #32465f;
  border-left-color: transparent;
  top: 0;
  left: 0;
  -webkit-animation: effect-1-2 4s infinite linear;
  -moz-animation: effect-1-2 4s infinite linear;
  -ms-animation: effect-1-2 4s infinite linear;
  -o-animation: effect-1-2 4s infinite linear;
  animation: effect-1-2 4s infinite linear;
}
.loading-effect-1 span:last-child {
  width: 60%;
  height: 60%;
  border-color: #e64b3c;
  border-bottom-color: transparent;
  top: 20%;
  left: 20%;
  -webkit-animation: effect-1-1 4s infinite linear;
  -moz-animation: effect-1-1 4s infinite linear;
  -ms-animation: effect-1-1 4s infinite linear;
  -o-animation: effect-1-1 4s infinite linear;
  animation: effect-1-1 4s infinite linear;
}
@-webkit-keyframes effect-1-1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes effect-1-1 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes effect-1-2 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes effect-1-2 {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}